/*footer*/

.b-blocks {
	@extend .g-clearfix;
	margin: 0 -1%;

	&__item {
		position: relative;
		width: 48%;
		min-height: 300px;
		box-sizing: border-box;
		float: left;
		margin: 0 1% 15px;
		padding: 10px 10px 60px 10px;
		border-radius: 5px;
		background: $color-pink-2;
	}

	&__imageWrap {}

	&__image {}

	&__titleWrap {}

	&__title {
		margin: 0 0 5px;
  	font: 19px/1.3 'Lobster', cursive;
	}

	&__text {
	    line-height: 1.5;
	}

	&__link {
		color: inherit;
		text-decoration: none;

		&:hover {
			color: inherit;
			text-decoration: none;
		}
	}

	&__buttons {
		position: absolute;
		bottom: 15px;
		left: 10px;
    right: 10px;
		text-align: right;
	}
}

