/*content*/

.b-content {
	padding: 85px 7px 15px;

	&__inner {
		@extend .g-block__center;
		min-height: calc(100vh - 60px - 73px - 30px);
		box-sizing: border-box;
		padding: 30px 40px 25px;
		border-radius: 4px;
		background: $color-white-1;
	}
}

