/*field*/

.b-copyright {
  font: 17px/1.3 'Lobster', cursive;

  &__copySign, &__text, &__link {
    display: inline-block;
    vertical-align: middle;
  }

  &__copySign {
    font-size: 22px;
  }

  &__link {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__text {}

}
