/*field*/

.b-field {
	display: inline-block;
  width: 300px;
  height: 30px;
  padding: 5px 8px;
  box-sizing: border-box;
  box-shadow: none;
  outline: 0;
  border-radius: 7px;
  border: 1px solid $color-gray-3;

  &.-type_textarea {
    min-height: 100px;
    height: initial;
  }

	@include placeholder {
		font-style: italic;
    font-size: 13px;
	}
}



