/*form*/

.b-form {
	margin: 0 0 20px;

	.b-popup & {
		margin-bottom: 0
	}

	&__inner {}
	
	&__row {
		margin: 0 0 10px;
		
		&:last-child {
			margin-bottom: 0;
		}
	}

	&__item {
		margin: 0 0 10px 0;

		&.-type_button {
			margin-top: 15px
		}

		&.-type_message {
			text-align: center;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

