/*form*/

.b-form {
	margin: 0 0 20px;

	&__inner {
		display: inline-block;
	}
	
	&__row {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		margin: 0 0 10px;

		&.-type {
			
			&_message {
		    justify-content: center;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__item {
		margin: 0 0 10px 0;

		&:last-child {
			margin-right: 0;
		}

		&.-type {

			&_button {
				margin-right: 0;
		    align-self: center;
			}
		}
	}
}

