/*header*/

.b-header {
	min-height: 70px;
	padding: 0 7px 0;
	background: $color-white-1;
	box-shadow: 1px -7px 26px #ccc;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		@extend .g-block__center;
	}

	&__block {
		@extend .g-clearfix;
	}
}

