/*message css*/

.b-message {

	&.-type {

		&_success {
			color: $color-green-1;
		}

		&_warning {
			color: $color-orange-1;
		}

		&_error, &_fieldError {
			color: $color-red-2;
		}

		&_fieldError {
			margin-top: 5px;
	    padding-left: 10px;
			font-size: 12px;
		}

	}

	&.-align_center {
		text-align: center;
	}
	
}

