/*footer*/

.l-popup {
	position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

.b-popup {
	max-width: $main-width;
	min-width: $min-width;
	margin: 30% auto 0;
}

