/*footer*/

.l-popupOverlay {
	position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  //opacity: 0;

	&.-type_opened {
		opacity: 0.3;
		transition: opacity 1s ease-out 1s;
		-webkit-transition: opacity 1s ease-out 1s;
	}

	&.-type_closed {
		opacity: 0;
		transition: opacity 1s ease-out 1s;
		-webkit-transition: opacity 1s ease-out 1s;
	}

}

.b-popup {
  display: flex;
  align-items: center;
	position: fixed;
  width: 340px;
  min-height: 110px;
  box-sizing: border-box;
	border-radius: 7px;
	border: 1px solid rgba(167, 62, 69, 0.2);
	background: $color-white-1;

	&.-type_opened {
		animation: showPopupAnimation 0.5s linear forwards;
	}

	&.-type_closed {
		animation: hidePopupAnimation 0.1s linear forwards;
	}

	&__inner {
		width: 100%;
		position: relative;
		padding: 20px;
	}

	&__text {
		margin: 0 0 15px;
	}

	&__buttons {
		text-align: center;
	}

	&__close {
		position: absolute;
		right: -15px;
		top: -15px;
		width: 15px;
		height: 15px;
		overflow: hidden;
		text-indent: 100px;
		background: #000;
	}
}


/* keyframes */
@keyframes showPopupAnimation {

	from {
		top: -500px;
		right: -500px;
		margin-top: 0;
		margin-right: 0;
	}

	to {
		top: 50%;
		right: 50%;
		margin-top: -170px;
		margin-right: -100px;
	}

}

@-webkit-keyframes showPopupAnimation {

	from {
		top: -500px;
		right: -500px;
		margin-top: 0;
		margin-right: 0;
	}

	to {
		top: 50%;
		right: 50%;
		margin-top: -170px;
		margin-right: -100px;
	}

}

@keyframes hidePopupAnimation {

	from {
		top: 50%;
		right: 50%;
		margin-top: -170px;
		margin-right: -100px;
		opacity: 1;
	}

	to {
		top: 50%;
		right: 50%;
		margin-top: -170px;
		margin-right: -100px;
		opacity: 0;
	}

}

@-webkit-keyframes hidePopupAnimation {

	from {
		top: 50%;
		right: 50%;
		margin-top: -170px;
		margin-right: -100px;
		opacity: 1;
	}

	to {
		top: 50%;
		right: 50%;
		margin-top: -170px;
		margin-right: -100px;
		opacity: 0;
	}

}

