/*footer*/

.l-popup {
	//display: none;
	position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

.b-popup {
	position: fixed;
	top: 50%;
	left: 50%;
  width: 340px;
  min-height: 340px;
  box-sizing: border-box;
	margin: -180px 0 0 -170px;
	border-radius: 7px;
	border: 1px solid rgba(167, 62, 69, 0.2);
	background: $color-white-1;

	&__inner {
		position: relative;
		padding: 20px;
	}

	&__close {
		position: absolute;
		right: -15px;
		top: -15px;
		width: 15px;
		height: 15px;
		overflow: hidden;
		text-indent: 100px;
		background: #000;
	}
}

