<div class="b-blocks -type_details">
	<div class="b-blocks__item">

		<div class="b-blocks__titleWrap">
			<h3 class="b-blocks__title">{{ detailName }}</h3>
		</div>

		<div class="b-blocks__text">{{ detailDescription }}</div>

		<div class="b-blocks__imageWrap" *ngIf="detailImages?.length > 0">
			<app-images-gallery [(images)]="detailImages" [removable]="false" (removeAction)="test($event)"></app-images-gallery>
		</div>

		<div class="b-blocks__buttons">
			<button class="b-button" (click)="navigateToEditing(detailId)">
				<span class="b-button__icon icon-pencil"></span> <span class="b-button__text">{{ "edit" | translate }}</span>
			</button>
			<button class="b-button" (click)="navigateToExercises()">
				<span class="b-button__icon icon-home"></span> <span class="b-button__text">{{ "back_to_exercises" | translate }}</span>
			</button>
		</div>
		
	</div>
</div>

