<div class="b-blocks -type_details">
	<div class="b-blocks__item">

		<div class="b-blocks__titleWrap">
			<h3 class="b-blocks__title">{{ detailName }}</h3>
		</div>

		<div class="b-blocks__text">{{ detailDescription }}</div>

		<div class="b-blocks__imageWrap">
			<app-images-gallery [(images)]="detailImages" [removable]="false"></app-images-gallery>
		</div>

		<div class="b-blocks__buttons">
			<button class="b-button" (click)="navigateToExercises()">Вернуться к упражнениям</button>
		</div>
		
	</div>
</div>

