/*plugins*/
/*styles*/
/*common styles*/
/*reset css*/
body, p {
  margin: 0; }

ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none; }

/*variables*/
/*content*/
/*global classes*/
.g-block__center, .b-header__inner, .b-content__inner, .b-footer__inner {
  max-width: 1400px;
  min-width: 600px;
  margin: 0 auto; }

.g-clearfix:after, .b-header__block:after, .b-menu:after, .b-blocks:after, .b-gallery__list:after, .b-languagesBar:after {
  content: "";
  display: table;
  clear: both; }

/*mixins*/
/*styles of top blocks*/
.l-body {
  color: #222;
  font: normal 14px/1.3 'Droid Sans', sans-serif; }
  .l-body.-scroll_hidden {
    overflow: hidden; }

.l-wrapper {
  min-height: calc(100vh - 60px);
  background: #f5f5f5; }

/*styles of blocks*/
/*header*/
.b-header {
  min-height: 70px;
  padding: 0 7px 0;
  background: #fff;
  box-shadow: 1px -7px 26px #ccc;
  border-top: 1px solid rgba(167, 62, 69, 0.2);
  border-bottom: 2px solid rgba(167, 62, 69, 0.5); }
  .b-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: stretch; }

/*content*/
.b-content {
  padding: 15px 7px; }
  .b-content__inner {
    min-height: calc(100vh - 60px - 73px - 30px);
    box-sizing: border-box;
    padding: 25px 20px;
    border-radius: 7px;
    background: #fff; }

/*footer*/
.b-footer {
  height: 60px;
  box-sizing: border-box; }

/*logo*/
.b-logo__link {
  display: block;
  height: 100%;
  padding: 5px 0 5px; }
.b-logo__imageWrapper {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden; }
.b-logo__image {
  display: block;
  height: 100%; }

/*menu*/
.b-menu {
  height: 100%;
  font: 20px/2 'Lobster', cursive; }
  .b-menu__item {
    float: left;
    height: inherit;
    		/*&:last-child {
    
    			.b-menu__link {
    				padding-right: 0;
    			}
    		}*/ }
  .b-menu__link {
    height: inherit;
    box-sizing: border-box;
    display: block;
    padding: 15px 10px 13px;
    color: inherit;
    text-decoration: none;
    cursor: pointer; }

/*footer*/
.b-blocks {
  margin: 20px -1% 0; }
  .b-blocks.-type_details {
    margin: 0; }
  .b-blocks__item {
    position: relative;
    width: 48%;
    min-height: 190px;
    box-sizing: border-box;
    float: left;
    margin: 0 1% 15px;
    padding: 10px 10px 60px 10px;
    border-radius: 5px;
    background: #edd8da; }
    .-type_details .b-blocks__item {
      width: 100%;
      min-height: 110px;
      margin: 0;
      padding-top: 0;
      padding-bottom: 0;
      float: none;
      background: transparent; }
  .b-blocks__title {
    margin: 0 0 5px;
    font: 19px/1.3 'Lobster', cursive;
    cursor: pointer; }
  .b-blocks__text {
    line-height: 1.5; }
  .b-blocks__link {
    color: inherit;
    text-decoration: none; }
    .b-blocks__link:hover {
      color: inherit;
      text-decoration: none; }
  .b-blocks__buttons {
    position: absolute;
    bottom: 15px;
    left: 10px;
    right: 10px;
    text-align: right; }
    .-type_details .b-blocks__buttons {
      position: static;
      top: auto;
      bottom: auto;
      left: auto;
      right: auto;
      text-align: left; }

/*form*/
.b-form {
  margin: 0 0 20px; }
  .b-popup .b-form {
    margin-bottom: 0; }
  .b-form__inner {
    display: inline-block; }
  .b-form__row {
    margin: 0 0 10px; }
    .b-form__row:last-child {
      margin-bottom: 0; }
  .b-form__item {
    margin: 0 0 10px 0; }
    .b-form__item.-type_button {
      margin-top: 15px; }
    .b-form__item.-type_message {
      text-align: center; }
    .b-form__item:last-child {
      margin-bottom: 0; }

/*button*/
.b-button, .b-uploader__button {
  display: inline-block;
  min-width: 70px;
  min-height: 32px;
  padding: 8px 10px;
  outline: 0;
  border: 0;
  border-radius: 7px;
  box-sizing: border-box;
  background: #bbb;
  box-shadow: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer; }
  .b-button__icon, .b-button__text {
    display: inline-block;
    vertical-align: middle; }
  .b-button__icon {
    font-weight: 700; }

/*field*/
.b-label {
  display: inline-block;
  margin: 0 0 5px; }
  .b-label.-type_required:after {
    display: inline-block;
    margin: 0 0 0 3px;
    color: #b9041f;
    content: '*'; }

/*field*/
.b-field {
  display: inline-block;
  width: 300px;
  height: 30px;
  padding: 5px 8px;
  box-sizing: border-box;
  box-shadow: none;
  outline: 0;
  border-radius: 7px;
  border: 1px solid #bbb;
  font: normal 14px/1.3 'Droid Sans', sans-serif; }
  .b-field.-type_textarea {
    min-height: 100px;
    height: initial; }

/*message css*/
.b-message.-type_success {
  color: #74A811; }
.b-message.-type_warning {
  color: #FF9900; }
.b-message.-type_error {
  color: #b9041f; }

/*footer*/
.l-popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 1000; }
  .l-popup__overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000; }
    .-type_opened .l-popup__overlay {
      opacity: 0.3;
      transition: opacity 0.4s ease-out;
      -webkit-transition: opacity 0.4s ease-out; }
    .-type_closed .l-popup__overlay {
      opacity: 0;
      transition: opacity 0.4s ease-out;
      -webkit-transition: opacity 0.4s ease-out; }

.b-popup {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0; }
  .b-popup.-type_opened {
    opacity: 1;
    transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear; }
  .b-popup__inner {
    position: relative;
    width: 340px;
    min-height: 110px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 7px;
    border: 1px solid rgba(167, 62, 69, 0.2);
    background: #fff; }
  .b-popup__text {
    margin: 0 0 15px; }
  .b-popup__buttons {
    text-align: center; }
  .b-popup__close {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #fff;
    font-size: 23px;
    line-height: 1;
    font-weight: 700;
    cursor: pointer; }

/* keyframes */
@keyframes showPopupAnimation {
  from {
    top: -500px;
    right: -500px;
    margin-top: 0;
    margin-right: 0; }
  to {
    top: 50%;
    right: 50%;
    margin-top: -170px;
    margin-right: -100px; } }
@-webkit-keyframes showPopupAnimation {
  from {
    top: -500px;
    right: -500px;
    margin-top: 0;
    margin-right: 0; }
  to {
    top: 50%;
    right: 50%;
    margin-top: -170px;
    margin-right: -100px; } }
@keyframes hidePopupAnimation {
  from {
    top: 50%;
    right: 50%;
    margin-top: -170px;
    margin-right: -100px;
    opacity: 1; }
  to {
    top: 50%;
    right: 50%;
    margin-top: -170px;
    margin-right: -100px;
    opacity: 0; } }
@-webkit-keyframes hidePopupAnimation {
  from {
    top: 50%;
    right: 50%;
    margin-top: -170px;
    margin-right: -100px;
    opacity: 1; }
  to {
    top: 50%;
    right: 50%;
    margin-top: -170px;
    margin-right: -100px;
    opacity: 0; } }
/*load gallery css*/
.b-gallery {
  margin: 10px 0 8px; }
  .b-gallery__item {
    position: relative;
    margin: 0 10px 10px 0;
    float: left; }
  .b-gallery__imageWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    overflow: hidden; }
  .b-gallery__image {
    width: 200%;
    display: block;
    cursor: pointer; }
  .b-gallery__deleteImage {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -8px;
    top: -8px;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    z-index: 100;
    cursor: pointer;
    border-radius: 50%;
    background: #fff;
    font-size: 14px;
    font-weight: 700; }
  .b-gallery__slides {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 1000; }
  .b-gallery__overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent; }
    .-type_opened .b-gallery__overlay {
      background-color: rgba(0, 0, 0, 0.3);
      transition: background-color 0.4s ease-out;
      -webkit-transition: background-color 0.4s ease-out; }
  .b-gallery__slide {
    height: 100%;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; }
    .b-gallery__slide.-type_current {
      opacity: 1;
      transition: opacity 0.2s linear;
      -webkit-transition: opacity 0.2s linear; }
  .b-gallery__slideImageWrap {
    position: relative; }
  .b-gallery__slideLeft, .b-gallery__slideRight {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    cursor: pointer; }
  .b-gallery__slideLeft {
    left: 0; }
  .b-gallery__slideRight {
    right: 0; }
  .b-gallery__slideClose {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #fff;
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
    cursor: pointer; }
  .b-gallery__slideArrow {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: -20px 0 0 0;
    font-size: 40px;
    line-height: 1;
    cursor: pointer; }
    .b-gallery__slideArrow.-direction_right {
      right: 30px; }
    .b-gallery__slideArrow.-direction_left {
      left: 30px; }

/*menu*/
.b-uploader {
  width: 200px;
  display: inline-block; }
  .b-uploader__inner {
    position: relative;
    min-height: 50px;
    display: flex;
    align-items: center;
    align-content: flex-start;
    border: 3px dotted #bbb;
    border-radius: 7px;
    cursor: pointer; }
  .b-uploader__text {
    width: 100%;
    text-align: center; }
  .b-uploader__hiddenArea {
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer; }

.b-uploaderFiles {
  margin: 10px 0 0; }
  .b-uploaderFiles__item {
    display: inline-block;
    margin: 0 5px 5px 0; }
  .b-uploaderFiles__itemInner {
    display: block;
    padding: 2px 4px;
    border-radius: 3px;
    background: #edd8da; }
    .b-uploaderFiles__itemInner.-type_loaded {
      background-color: #c4da9b; }

/*spinner*/
.b-spinner {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .b-spinner__inner {
    width: 160px;
    height: 20px;
    background: url(assets/images/spinner/spinner.gif) no-repeat center center; }

/*menu*/
.b-languagesBar {
  height: 100%; }
  .b-languagesBar__item {
    min-width: 35px;
    float: left;
    height: inherit;
    border-right: 1px solid #f1ede5;
    background: #f9f7f3;
    transition: background 0.5s ease;
    vertical-align: middle;
    font: 15px/1.3 'Lobster', cursive; }
    .b-languagesBar__item:first-child {
      border-left: 1px solid #f1ede5; }
    .b-languagesBar__item.-state_current {
      background: #edd8da; }
  .b-languagesBar__link {
    display: flex;
    padding: 0 7px;
    justify-content: center;
    align-items: center;
    height: inherit;
    color: inherit;
    text-decoration: none;
    cursor: pointer; }
    .-state_current .b-languagesBar__link {
      cursor: default; }

/*# sourceMappingURL=styles.css.map */
