<form class="b-form">
	<div class="b-form__inner">
		<div class="b-form__row">

			<div class="b-form__item">
				<div class="b-form__label">
					<label for="" class="b-label -type_required">Название упражнения</label>
				</div>
				<input type="text" class="b-field" [(ngModel)]="editableName" name="editableName">
			</div>

			<div class="b-form__item">
				<div class="b-form__label">
					<label for="" class="b-label -type_required">Описание упражнения</label>
				</div>
				<textarea class="b-field -type_textarea" [(ngModel)]="editableDescription" name="editableDescription"></textarea>
			</div>

			<div class="b-form__item" *ngIf="editableImages?.length > 0">
				<div class="b-loadGallery">
					<ul class="b-loadGallery__list">
						<li class="b-loadGallery__item" *ngFor="let imageItem of editableImages">
							<div class="b-loadGallery__imageWrap">
								<img class="b-loadGallery__image"  src="{{imageItem._links.self.href}}" alt="{{imageItem.name}}">
							</div>
							<span class="b-loadGallery__deleteImage" (click)="removeImage(imageItem.id)"></span>
						</li>
					</ul>
				</div>
			</div>

			<div class="b-form__item -type_button" *ngIf="editableImages?.length > 0">
				<button class="b-button" (click)="removeImages()">Удалить изображения</button>
			</div>

			<file-uploader></file-uploader>

			<div class="b-form__item -type_button">
				<button class="b-button" (click)="updateExerciseBlock()">Сохранить</button>
				<button class="b-button" (click)="removeExerciseBlock()">Удалить</button>
			</div>

			<div class="b-form__item -type_message">
				<div class="b-message -type_error" *ngIf="messageEditableError">{{messageEditableError}}</div>
				<div class="b-message -type_success" *ngIf="messageEditableSuccess">{{messageEditableSuccess}}</div>
			</div> 	
		</div>
	</div>
</form>

