<form class="b-form">
	<div class="b-form__inner">
		<div class="b-form__row">

			<div class="b-form__item">
				<div class="b-form__label">
					<label for="" class="b-label -type_required">Название упражнения</label>
				</div>
				<input type="text" class="b-field" [(ngModel)]="editableName" name="editableName">
			</div>

			<div class="b-form__item">
				<div class="b-form__label">
					<label for="" class="b-label -type_required">Описание упражнения</label>
				</div>
				<textarea class="b-field -type_textarea" [(ngModel)]="editableDescription" name="editableDescription"></textarea>
			</div>

			<div class="b-form__item" *ngIf="editableImages?.length > 0">
				<div class="b-form__label">
					<label for="" class="b-label">Фотографии</label>
				</div>
				<app-images-gallery [(images)]="editableImages" (removeAction)="removeImage($event)"></app-images-gallery>
				<button class="b-button" *ngIf="editableImages?.length > 0" (click)="removeImages()">Удалить изображения</button>
			</div>
	
			<file-uploader></file-uploader>

			<div class="b-form__item -type_button">
				<button class="b-button" (click)="updateExerciseBlock()">Сохранить</button>
				<button class="b-button" (click)="openConfirmPopup()">Удалить</button>
				<button class="b-button" (click)="navigateToExercises()">Отмена</button>
			</div>

			<div class="b-form__item -type_message">
				<div class="b-message -type_error" *ngIf="messageEditableError">{{messageEditableError}}</div>
				<div class="b-message -type_success" *ngIf="messageEditableSuccess">{{messageEditableSuccess}}</div>
			</div> 	
		</div>
	</div>
</form>

<app-confirmation-popup [message]="confirmRemoveMessage" 
						[(isOpenedPopup)]="isOpenedPopup" 
						(closeAction) = "closeConfirmPopup()" 
						(confirmAction)="removeExerciseBlock(editableId)" 
						[(parameter)]="editableId"></app-confirmation-popup>

						<!-- [(isOpenedPopupMark)]="isOpenedPopupMark" -->
