<form (ngSubmit)="onSubmit()" #exForm="ngForm" class="b-form">
	<div class="b-form__inner">
		<div class="b-form__row">

			<div class="b-form__item">
				<div class="b-form__label">
					<label for="" class="b-label -type_required">{{ "exercise_name" | translate }}</label>
				</div>
				<input type="text" class="b-field" [(ngModel)]="editableName" name="editableName" required>
			</div>

			<div class="b-form__item">
				<div class="b-form__label">
					<label for="" class="b-label -type_required">{{ "exercise_description" | translate }}</label>
				</div>
				<textarea class="b-field -type_textarea" [(ngModel)]="editableDescription" name="editableDescription" required></textarea>
			</div>

			<div class="b-form__item" *ngIf="editableImages?.length > 0">
				<div class="b-form__label">
					<label for="" class="b-label">{{ "exercise_images" | translate }}</label>
				</div>
				<app-images-gallery [(images)]="editableImages" (removeAction)="removeImage($event)"></app-images-gallery>
				<button class="b-button" *ngIf="editableImages?.length > 0" (click)="removeImages()"><span class="b-button__icon icon-trash"></span> <span class="b-button__text">{{ "delete_all_images" | translate }}</span></button>
			</div>
	
			<file-uploader></file-uploader>

			<div class="b-form__item -type_button">
				<button class="b-button" (click)="updateExerciseBlock()" [disabled]="!exForm.form.valid">
					<span class="b-button__icon icon-check"></span> <span class="b-button__text">{{ "save" | translate }}</span> 
				</button>
				<button class="b-button" (click)="openConfirmPopup()">
					<span class="b-button__icon icon-trash"></span> <span class="b-button__text">{{ "delete" | translate }}</span> 
				</button>
				<button class="b-button" (click)="navigateToExercises()">
					<span class="b-button__icon icon-action-undo"></span> <span class="b-button__text">{{ "cancel" | translate }}</span>
				</button> 
			</div>

			<div class="b-form__item -type_message">
				<div class="b-message -type_error" *ngIf="!exForm.form.valid">{{ "messageRequired" | translate }}</div> <!-- *ngIf="messageEditableError" -->
				<div class="b-message -type_error" >{{ "messageIsUsed" | translate }}</div>
				<div class="b-message -type_success">{{ "messageUpdated" | translate }}</div> <!-- *ngIf="messageEditableSuccess" -->
			</div> 	
		</div>
	</div>
</form>

<app-confirmation-popup [message]="confirmRemoveMessage" 
						[(isOpenedPopup)]="isOpenedPopup" 
						(closeAction) = "closeConfirmPopup()" 
						(confirmAction)="removeExerciseBlock(editableId)" 
						[(parameter)]="editableId"></app-confirmation-popup>
