<div class="b-uploader">
	<div class="b-uploader__inner">
		<div class="b-uploader__text">
			<div>Загрузить изображения</div>
		</div>
		<input class="b-uploader__hiddenArea" type="file" ng2FileSelect 
				[uploader]="uploader" (onUpload)="onUpload($event)" 
				multiple 
				[ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
				(fileOver)="fileOverBase($event)"/>
	</div>
</div>

<button class="b-button" (click)="uploader.uploadAll(); getImages()" [disabled]="!uploader.getNotUploadedItems().length">
	<span class="b-button__icon icon-cloud-upload"></span> <span class="b-button__text">Загрузить</span>
</button>
<button class="b-button" (click)="removeImages()" [disabled]="!isUpload">	
	<span class="b-button__icon icon-trash"></span> <span class="b-button__text">Очистить</span>
</button> 

<ul class="b-uploaderFiles">
	<li class="b-uploaderFiles__item" *ngFor="let queueItem of uploader.queue">
		<span class="b-uploaderFiles__itemInner" [ngClass]="{'-type_loaded': queueItem.isSuccess}">{{ queueItem?.file?.name }}</span>
	</li>
</ul>

<app-images-gallery [(images)]="loadedImages" (removeAction)="removeImage($event)"></app-images-gallery>

