<body class="l-body" [ngClass]="{'-scroll_hidden': isHideScroll}">
	<div class="l-wrapper">
		<header class="b-header">
			<div class="b-header__inner">
				<div class="b-header__block -type_left">
					<app-logo></app-logo>
				</div>
				<div class="b-header__block -type_right">
					<app-navigation></app-navigation>
				</div>
			</div>
		</header>

		<main class="b-content">
			<div class="b-content__inner">
				<router-outlet></router-outlet>
			</div>
		</main>
	</div>

	<footer class="b-footer">
		<div class="b-footer__inner"></div>
	</footer>
</body>
