<div class="container">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required>
        </div>
        <div class="form-group">
            <label for="name">Description</label>
            <textarea class="form-control" id="description" required></textarea>
        </div>
        <div class="form-group">
            <label for="alterEgo">Link</label>
            <input type="text" class="form-control" id="link">
        </div>
        <button type="submit" class="btn btn-success">Add</button>
    </form>
</div>