a {
  &:hover {
    text-decoration: none;
  }
}

.l-html {
  min-height: 100%;
}
.l-body {
  min-height: 100%;
  background: #000 url(../img/body-bg.jpg) 0 50% no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: $color-main;
  font: normal 14px/1.3 'Roboto', sans-serif;
}


/**
* @section wrapper
*/
.l-wrapper {
  position: relative;
}

/**
* @section content
*/
.l-content {
  position: relative;
  padding: 0 20px;
}


/**
* @section main
*/
.b-content {
  position: relative;
  display: block;
  min-height: 500px;
  margin: 60px auto;
  padding: 40px 30px 30px;
  border-radius: 6px;
  max-width: $site-width;
  min-width: $site-min-width;
  box-sizing: border-box;
  background: #fff;
  background: rgba(255, 255, 255, .9);
}
