/**
* @section list
*/

.l-list {
	margin: 20px 0;
}

.b-list {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;

	&__item {
		margin: 0 0 15px;
	}

	&__title {
		margin: 0 0 5px;
		font-weight: 700;
		text-transform: uppercase;
	}

	&__content {}
}

 
