<div class="b-gallery" *ngIf="images?.length > 0" >

	<ul class="b-gallery__list">
	
		<li class="b-gallery__item" *ngFor="let imageItem of images">
			<div class="b-gallery__imageWrap">
				<img class="b-gallery__image"  src="{{imageItem._links.self.href}}" alt="{{imageItem.name}}" (click)="getCurrentImage(imageItem.index, imageItem._links, imageItem.name)">
			</div>
			<div *ngIf="removable" class="b-gallery__deleteImage" (click)="removeActionPerformed(imageItem.id)">
				<span class="icon-trash"></span>
			</div>
		</li>

		<div class="b-gallery__slides" *ngIf="isOpenedSlider" [ngClass]="{'-type_opened': isOpenedSliderMark, '-type_closed': !isOpenedSliderMark}">
			<div class="b-gallery__overlay" (click)="closeSlider()"></div>
			<div class="b-gallery__slide" [ngClass]="{ '-type_current': isCurrentSlideMark }">
				<div class="b-gallery__slideImageWrap">
					<img src="{{currentUrl.self.href}}" alt="{{currentName}}" class="b-gallery__slideImage" [ngStyle]="{'max-width.px': maxIW, 'max-height.px': maxIH}">
					<div class="b-gallery__slideLeft" (click)="showPrevSlide()"></div>
					<div class="b-gallery__slideRight" (click)="showNextSlide()"></div> 
					<div class="b-gallery__slideClose" (click)="closeSlider()">
						<span class="icon-close"></span>
					</div>
				</div>
			</div>
			<div class="b-gallery__slideArrow -direction_left" (click)="showPrevSlide()">
				<span class=" icon-arrow-left"></span>
			</div>
			<div class="b-gallery__slideArrow -direction_right" (click)="showNextSlide()">
				<span class="icon-arrow-right"></span>
			</div>
		</div>

	</ul>

</div>
