<div class="l-popupOverlay" *ngIf="isOpenedPopup" [ngClass]="{'-type_opened': isOpenedPopup, '-type_closed': !isOpenedPopup}" (click)="closeActionPerformed()"></div>
<div class="b-popup" *ngIf="isOpenedPopup" [ngClass]="{'-type_opened': isOpenedPopupMark, '-type_closed': !isOpenedPopupMark}">
	<div class="b-popup__inner">
		<div class="b-popup__text">{{message}}</div>
		<div class="b-popup__buttons">
			<button class="b-button" (click)="confirmActionPerformed()">Да</button>
			<button class="b-button" (click)="closeActionPerformed()">Отмена</button>
		</div>
	</div>
	<span class="b-popup__close" (click)="closeActionPerformed()"></span>
</div>

