<div class="l-popup" *ngIf="isOpenedPopup" [ngClass]="{'-type_opened': isOpenedPopup, '-type_closed': !isOpenedPopup}">
	<div class="l-popup__overlay"  (click)="closeActionPerformed()"></div>
	<div class="b-popup" *ngIf="isOpenedPopup" [ngClass]="{'-type_opened': isOpenedPopupMark, '-type_closed': !isOpenedPopupMark}">
		<div class="b-popup__inner">
			<div class="b-popup__text">{{message}}</div>
			<div class="b-popup__buttons">
				<button class="b-button" (click)="confirmActionPerformed()">{{ "yes" | translate }}</button>
				<button class="b-button" (click)="closeActionPerformed()">{{ "no" | translate }}</button>
			</div>
			<span class="b-popup__close" (click)="closeActionPerformed()">
				<span class="icon-close"></span>
			</span>
		</div>
	</div>
</div>

