
<button class="b-button" (click)="navigateToAdding()">
	<span class="b-button__icon icon-plus"></span> <span class="b-button__text">{{ "add_exercises" | translate }}</span><!--  Добавить упражнения -->
</button>

<ul class="b-blocks">
	<li class="b-blocks__item" *ngFor="let exItem of _exercisesService.exercises">
		<div class="b-blocks__titleWrap">
			<h3 class="b-blocks__title" (click)="navigateToDetail(exItem)">{{ exItem.name | croptext : 30 : ''}}</h3>
		</div>
		<div class="b-blocks__text">{{ exItem.description | croptext : 60 : '...'}}</div>
		<div class="b-blocks__buttons">
			<button class="b-button" (click)="navigateToEditing(exItem)">
				<span class="b-button__icon icon-pencil"></span> <span class="b-button__text">{{ "edit" | translate }}</span>
			</button>
			<button class="b-button" (click)="openConfirmPopup(exItem.id)">
				<span class="b-button__icon icon-trash"></span> <span class="b-button__text">{{ "delete" | translate }}</span>
			</button>
		</div>
	</li>
</ul>

<app-confirmation-popup [message]="confirmRemoveMessage" 
						[(isOpenedPopup)]="isOpenedPopup"
						(closeAction) = "closeConfirmPopup()" 
						(confirmAction)="removeExerciseBlock(removeId)" 
						[(parameter)]="removeId"></app-confirmation-popup>


