<form (ngSubmit)="onSubmit()" #exForm="ngForm" class="b-form">
	<div class="b-form__row">
		<div class="b-form__item">
			<input type="text" class="b-field" placeholder="Упражнение *"  [(ngModel)]="newTitle" name="newExTitle" required>
		</div>
		<div class="b-form__item">
			<input type="text" class="b-field" placeholder="Описание *" [(ngModel)]="newText" name="newExText" required>
		</div>
		<div class="b-form__item -type_button">
			<button class="b-button" [disabled]="!exForm.form.valid" (click)="addNewExBlock()">Добавить упражнение</button>
		</div>
	</div>
</form>

<ul class="b-blocks">
	<li class="b-blocks__item" *ngFor="let exItem of _exercisesService.exercises">
		<div class="b-blocks__imageWrap">
			<a href="" class="b-blocks__link">
				<img src="" alt="" class="b-blocks__image">
			</a>
		</div>
		<div class="b-blocks__titleWrap">
			<h3 class="b-blocks__title"><a href="" class="b-blocks__link">{{exItem.title}}</a></h3>
		</div>
		<div class="b-blocks__text">{{exItem.text}}</div>
		<div class="b-blocks__buttons">
			<button class="b-button" (click)="removeExBlock(exItem.id)">Удалить упражнение</button>
			{{ exItem.id }}
		</div>
	</li>
</ul>