<form (ngSubmit)="onSubmit()" #exForm="ngForm" class="b-form">
	<div class="b-form__inner">
		<div class="b-form__row">
			<div class="b-form__item">
				<input type="text" class="b-field" placeholder="Название упражнения *"  [(ngModel)]="newName" name="newName" required>
			</div>
			<div class="b-form__item">
				<textarea class="b-field -type_textarea" placeholder="Описание упражнения *" [(ngModel)]="newDescription" name="newDescription" required>></textarea>
			</div>
			<div class="b-form__item">
				<file-uploader></file-uploader>
			</div>
			<div class="b-form__item -type_button">
				<button class="b-button" [disabled]="!exForm.form.valid || !_fileUploaderComponent.uploader.getNotUploadedItems().length" (click)="addExerciseBlock()">Добавить упражнение</button>
			</div>
		</div>
		<div class="b-form__row -type_message">
			<div class="b-message -type_error" *ngIf="messageError">{{messageError}}</div>
			<div class="b-message -type_success" *ngIf="messageSuccess">{{messageSuccess}}</div>
		</div>
	</div>
</form>

<ul class="b-blocks">
	<li class="b-blocks__item" *ngFor="let exItem of _exercisesService.exercises">
		<div class="b-blocks__imageWrap">
			<a href="" class="b-blocks__link" *ngFor="let exItemImage of exItem.images">
				<img src="{{exItemImage.url}}{{ exItemImage.file.name }}" alt="{{ exItemImage.file.name }}" class="b-blocks__image">
			</a>
		</div>
		<div class="b-blocks__titleWrap">
			<h3 class="b-blocks__title"><a href="" class="b-blocks__link">{{ exItem.name }}</a></h3>
		</div>
		<div class="b-blocks__text">{{ exItem.description }}</div>
		<div class="b-blocks__buttons">
			<button class="b-button">Редактировать</button>
			<button class="b-button" (click)="removeExerciseBlock(exItem.id)">Удалить</button>
		</div>
	</li>
</ul>

<div class="l-popup">
	<div class="b-popup">
		<div class="b-popup__inner">
			<span class="b-popup__close">Close</span>
			test
		</div>
	</div>
</div>