<h2 class="b-title -type_first">14 Styles Of Yoga Explained Simply</h2>

<p>If you’re like me, you've been slightly confused by all the different styles of yoga out there! There are many styles so don’t feel bad. Or dumb. That’s not how yoga should make you feel!</p>

<p>I did my research and put this list together of what I think are the top 14 types of yoga styles out there. Hopefully this makes it easier for you on your road to yoga bliss. </p>

<h3 class="b-title -type_subtitle">Anusara</h3>
<p>Anusara is often described as Iyengar (a purist form of yoga) with a sense of humor. Created by the aptly named John Friend, Anusara is meant to be heartfelt and accepting. Instead of trying to fit everyone into standard cookie-cutter positions, students are guided to express themselves through the poses to their fullest ability.</p>

<h3 class="b-title -type_subtitle">Ashtanga</h3>
<p>Six established and strenuous pose sequences — the primary series, second series, third series, and so on — practiced sequentially as progress is made. Ashtangis move rapidly, flowing from one pose to the next with each inhale and exhale. Each series of poses linked by the breath this way is called a vinyasa.</p>

<h3 class="b-title -type_subtitle">Bikram</h3>
<p>This is probably my favorite. I’m a hot yoga kind of girl, and Bikram features yoga poses in a sauna-like room. The heat is cranked up to nearly 105 degrees and 40 percent humidity in official Bikram classes. If it’s called “Bikram” (for inventor Bikram Choudhury), it will be a series of 26 basic yoga postures, each performed twice.</p>

<h3 class="b-title -type_subtitle">Hatha</h3>
<p>By definition, hatha is a physical yoga practice, which is pretty much all yoga you’ll find in this hemisphere. One of the six original branches of yoga, “hatha” encompasses nearly all types of modern yoga. In other words, hatha is the ice cream if styles like ashtanga and Bikram are vanilla and chocolate chip. Today, classes described as “hatha” on studio schedules are typically a basic and classical approach to yogic breathing exercises and postures.</p>

<h3 class="b-title -type_subtitle">Iyengar</h3>
<p>This is a purist yoga named after founder B.K.S. Iyengar. Props like blocks, straps, harnesses, and incline boards are used to get you more perfectly into positions and have earned the style its nickname, “furniture yoga.” Appropriate for all ages and abilities, Iyengar yoga is all about precise alignment and deliberate sequencing. Don’t take that to mean easy.</p>

<h3 class="b-title -type_subtitle">Jivamukti</h3>
<p>A physical, limit-pushing practice that reintegrates yoga’s traditional spiritual elements in an educational way for Western practitioners. Expect a theme for each class, Sanskrit chanting, and references to ancient scripture. Created by Sharon Gannon and David Life in 1984 in New York City, jivamukti translates as “liberation while living.”</p>

<h3 class="b-title -type_subtitle">Kripalu</h3>
<p>Kripalu is a three-part practice that teaches you to get to know, accept, and learn from your body. It starts with figuring out how your body works in different poses, then moves toward postures held for an extended time and meditation. It then taps deep into your being to find spontaneous flow in asanas, letting your body be the teacher.</p>

<h3 class="b-title -type_subtitle">Kundalini</h3>
<p>The practice of kundalini yoga features constantly moving, invigorating poses. The fluidity of the practice is intended to release the kundalini (serpent) energy in your body. Weren’t aware you had any? Well, just think of it as an energy supply, coiled like a sleeping snake at the base of the spine, waiting to be tapped; the practice aims to do just that — awaken and pulse the stuff upward through the body.</p>

<h3 class="b-title -type_subtitle">Prenatal</h3>
<p>Yoga postures carefully adapted for expectant mothers. Prenatal yoga is tailored to help women in all stages of pregnancy, even those getting back in shape post-birth. When you keep your muscles strong through your term, they will still have the strength and energy to return to normal.</p>

<h3 class="b-title -type_subtitle">Restorative</h3>
<p>Less work, more relaxation. You’ll spend as many as 20 minutes each in just four or five simple poses (often they’re modifications of standard asanas) using strategically placed props like blankets, bolsters, and soothing lavender eye pillows to help you sink into deep relaxation. There’s also psychic cleansing: the mind goes to mush and you feel brand new. It’s something like group nap time for grownups. It's better not to fall asleep, though.</p>

<h3 class="b-title -type_subtitle">Sivananda</h3>
<p>An unhurried yoga practice that typically focuses on the same 12 basic asanas or variations thereof every time, bookended by sun salutations and savasana (corpse pose). The system is based on a five-point philosophy that proper breathing, relaxation, diet, exercise, and positive thinking work together to form a healthy yogic lifestyle</p>

<h3 class="b-title -type_subtitle">Viniyoga</h3>
<p>A highly individualized practice in which yogis learn to adapt poses and goals to their own needs and abilities. Vini actually means differentiation, adaptation, and appropriate application. Instead of focusing on stretching to get strong and flexible, viniyoga uses the principles of proprioceptive neuromuscular facilitation (PNF). PNF simply means warming up and contracting a muscle before stretching it. This decreases your chance of injury.</p>

<h3 class="b-title -type_subtitle">Vinyasa / Power</h3>
<p>An active and athletic style of yoga adapted from the traditional ashtanga system in the late 1980s to appeal to aerobic-crazed Westerners. After having studied with Pattabhi Jois, Beryl Bender Birch and Bryan Kest simultaneously pioneered this westernized ashtanga on the East and West coasts, respectively. Power yoga doesn’t stick to the same sequence of poses each time like ashtanga does, so the style varies depending on the teacher. Classes called “vinyasa” or “flow” in your gym or studio can be vastly different but in general stem from this movement and from ashtanga as well.</p>

<h3 class="b-title -type_subtitle">Yin</h3>
<p>A quiet, meditative yoga practice, also called taoist yoga. Yin focuses on lengthening connective tissues and is meant to complement yang yoga—your muscle-forming Anusara, ashtanga, Iyengar, or what have you. Yin poses are passive, meaning you’re supposed to relax muscles and let gravity do the work. And they’re long — you’ll practice patience here too.</p>

<p>One that didn't make the list but is another yoga style is Tantra Yoga. It's a practice that can be used to expand the connection and awareness between a couple, creating a deeper bond spiritually with each other. (Think: tantric sex.) That's basically what it is but with yoga.</p>

<p>The source of information: <a href="https://www.mindbodygreen.com/0-8622/14-styles-of-yoga-explained-simply.html" target="_blank">mindbodygreen.com.</a></p>

