<div *ngIf="!_mainService.isShowSpinner"> 
	<div class="l-wrapper">
		<header class="b-header">
			<div class="b-header__inner">
				<div class="b-header__block -type_left">
					<app-logo></app-logo>
				</div>
				<div class="b-header__block -type_center">
					<app-navigation></app-navigation>
				</div>
				<div class="b-header__block -type_right">
					<app-languages-bar></app-languages-bar>
				</div>
			</div>
		</header>

		<main class="b-content">
			<div class="b-content__inner">
				<router-outlet></router-outlet>
			</div>
		</main>
	</div>

	<footer class="b-footer">
		<div class="b-footer__inner">
			<div class="b-copyright">
				<span class="b-copyright__copySign">&copy;</span> <span class="b-copyright__text">Copyright 2017</span> <a href="" class="b-copyright__link">yoga-info.ua</a>
			</div>
		</div>
	</footer>
</div>